<!-- <div class="row"> -->
<div class="col l6 m6 s12">
  <div class="user_list">
    <ul class="collapsible popout user" data-collapsible="accordion">
       <li>
                 <div class="collapsible-header user">
                   <div class="">
                      <!-- <div class="circle responsive-img valign profile-image"> -->
                     <div class=" circle fakeimage">
                      <%=avatar_for(current_user,size: 50)%>
                     </div>
                     <!-- </div> -->
                     <!-- <p id="head"><i class="material-icons right">date_range</i>01/21/15</p> -->
                     <!-- <i class="material-icons left">person</i> -->
                     <p id="head"><%=user.email%></p>
                   </div>

                    <br>
                    <!-- <div class="col l12 m12 s12"> -->
                      <%= link_to('follow', user_follow_path(user), remote:true,method: :post) %>
                    <!-- </div> -->
             </div>
                       <div class="collapsible-body user">
           <p>Material Design aplica principios de objetos reales incluyendo su comportamiento.Material Design aplica principios de objetos reales incluyendo su comportamiento.Material Design aplica principios de objetos reales incluyendo su comportamiento.Material Design aplica principios de objetos reales incluyendo su comportamiento.Material Design aplica principios de objetos reales incluyendo su comportamiento.</p>
              <br>
 </div>
       </li>
     </ul>
</div>
</div>
<!-- </div> -->
