<!-- <div class="row"> -->
<div class="col l12 m12 s12">
  <div class="user-profile">
    <%=avatar_for(current_user,size: 80)%>
    <div class="username"><%=user.email%></div>
    <div class="bio">
      <%= link_to('follow', user_follow_path(user), remote:true,method: :post) %>
    </div>
    <div class="description">
      I use to design websites and applications
      for the web.
    </div>
    <ul class="data">
      <li>
        <span class="entypo-heart"> 127</span>
      </li>
      <li>
        <span class="entypo-eye"> 853</span>
      </li>
      <li>
        <span class="entypo-user"> 311</span>
      </li>
    </ul>
  </div>
</div>
<!-- </div> -->

